﻿@*@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@
@page
@model RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Responsive Đăng ký tài khoản Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="~/css/style1.css" />

    
</head>
<body>
    
    <div class="container">
        <h1 class="form-title">Đăng ký</h1>
        <form action="#">
            <div class="main-user-info">
                <div class="user-input-box">
                    <label for="fullName">Họ và tên </label>
                    <input type="text" id="fullName" name="fullName" placeholder="Enter Full Name" />
                </div>
                <div class="user-input-box">
                    <label for="username">Tên tài khoản</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" />
                </div>
                <div class="user-input-box">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email" />
                </div>
                <div class="user-input-box">
                    <label for="phoneNumber">Điện thoại</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number" />
                </div>
                <div class="user-input-box">
                    <label for="password">Mật khẩu</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" />
                </div>
                <div class="user-input-box">
                    <label for="confirmPassword">Xác nhận mật khẩu</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" />
                </div>
            </div>
            <div class="gender-details-box">
                <span class="gender-title">Giới tính</span>
                <div class="gender-category">
                    <input type="radio" name="gender" id="male">
                    <label for="male">Nam</label>
                    <input type="radio" name="gender" id="female">
                    <label for="female">Nữ</label>
                    <input type="radio" name="gender" id="other">
                    <label for="other">Khác</label>
                </div>
            </div>
            <div class="form-submit-btn">
                <input type="submit" value="Đăng ký">

                <button class="BackHome"> <a href="/Home/index">Trở về trang chủ </a> <!-- Nút quay trở lại --> </button>
            </div>

        </form>
    </div>
    </div>

   
</body>
</html>
